<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>meeting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDepartmentServlet</display-name>
    <servlet-name>ViewAllDepartmentServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ViewAllDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDepartmentServlet</servlet-name>
    <url-pattern>/ViewAllDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApprovalEmp</display-name>
    <servlet-name>ViewApprovalEmp</servlet-name>
    <servlet-class>com.chinasofti.servlet.ViewApprovalEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApprovalEmp</servlet-name>
    <url-pattern>/ViewApprovalEmp</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.chinasofti.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAndDelServlet</display-name>
    <servlet-name>AddAndDelServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.AddAndDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAndDelServlet</servlet-name>
    <url-pattern>/AddAndDelServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.chinasofti.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.chinasofti.listener.VisitCountsListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SearchEmployeeServlet</display-name>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUsernameServlet</display-name>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ValidateUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <url-pattern>/ValidateUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllMeetingRoomServlet</display-name>
    <servlet-name>SelectAllMeetingRoomServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.SelectAllMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllMeetingRoomServlet</servlet-name>
    <url-pattern>/SelectAllMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMeetingRoomServlet</display-name>
    <servlet-name>SearchMeetingRoomServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.SearchMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMeetingRoomServlet</servlet-name>
    <url-pattern>/SearchMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMeetingRoomServlet</display-name>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.UpdateMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <url-pattern>/UpdateMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMeetingRoomServlet</display-name>
    <servlet-name>InsertMeetingRoomServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.InsertMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMeetingRoomServlet</servlet-name>
    <url-pattern>/InsertMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllMeetingRoomNameServlet</display-name>
    <servlet-name>ViewAllMeetingRoomNameServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ViewAllMeetingRoomNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllMeetingRoomNameServlet</servlet-name>
    <url-pattern>/ViewAllMeetingRoomNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEmpByDeptId</display-name>
    <servlet-name>SelectEmpByDeptId</servlet-name>
    <servlet-class>com.chinasofti.servlet.SelectEmpByDeptId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEmpByDeptId</servlet-name>
    <url-pattern>/SelectEmpByDeptId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEmpById</display-name>
    <servlet-name>SelectEmpById</servlet-name>
    <servlet-class>com.chinasofti.servlet.SelectEmpById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEmpById</servlet-name>
    <url-pattern>/SelectEmpById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveMeetingServlet</display-name>
    <servlet-name>ReserveMeetingServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ReserveMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveMeetingServlet</servlet-name>
    <url-pattern>/ReserveMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyBookingServlet</display-name>
    <servlet-name>ViewMyBookingServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.ViewMyBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyBookingServlet</servlet-name>
    <url-pattern>/ViewMyBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMyBookingServlet</display-name>
    <servlet-name>SelectMyBookingServlet</servlet-name>
    <servlet-class>com.chinasofti.servlet.SelectMyBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMyBookingServlet</servlet-name>
    <url-pattern>/SelectMyBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusOfMeeting</display-name>
    <servlet-name>UpdateStatusOfMeeting</servlet-name>
    <servlet-class>com.chinasofti.servlet.UpdateStatusOfMeeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusOfMeeting</servlet-name>
    <url-pattern>/UpdateStatusOfMeeting</url-pattern>
  </servlet-mapping>
</web-app>